git+https://github.com/nmigen/nmigen.git@master
git+https://github.com/nmigen/nmigen-soc.git@master
git+https://github.com/nmigen/nmigen-stdio.git@master
git+https://github.com/nmigen/nmigen-boards.git@master
git+https://github.com/lambdaconcept/minerva.git
git+https://github.com/ktemkin/lambdasoc.git
git+https://github.com/greatscottgadgets/luna.git
pyusb
pyserial
pyftdi
